body {
    font-family: 'Anton', sans-serif;
}

#freshDisc {
    font-family: 'Exo', sans-serif;
}

#weeklySpecials {
    font-family: 'Satisfy', cursive;
    font-weight: bold;
}

.menuItems {
    padding: 40px;
}

.otherMenuItem {
    padding-top: 20px;
}

.menuColumn {
    border-right: 6px solid #283576;
}

#menuJumbo {
    padding: 0px;
}

footer {
    text-align: center;
    border-top: 20px double #283576;
}
h2, p, a {
    color: #283576;
}

.bluetext {
    color: #283576;
}

.lead {
font-weight: bold;
}

.jumbotron {
    text-align: center;
}

.navbar {
    border-bottom: 20px double #283576;
}

#menuRow {
    border-bottom: 20px double #283576;
}

#multiMenuRow {
    border-top: 10px solid #283576;
    border-bottom: 20px double #283576;
}

.col-sm-4 {
    border-right: 20px double #283576;
}

.redtext {
    color: #BD2126;
}

#navbarNav {
    align-content: center;
}

#specialRow {
    text-align: center;
}

.card-header {
    background-color: #BD2126;
    text-align: center;
    color: white;
}

.card-body {
    text-align: center;
}

.fa {
    padding-left: 5px;
    padding-right: 5px;
}

#calendar {
    max-width: 900px;
    margin: 40px auto;
  }